@{
    ViewBag.Title = "LotDrone App";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Notification</h3>


<address>
    <strong>Support:</strong>   <a href="mailto:angelohuezo@gmail.com">Tech.Support@ahstudios.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:angelohuezo@gmail.com">Sales@ahstudios.com</a>
</address>
